/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #7e7f84;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	font-family:'Lato', sans-serif; /*font-family: 'Droid Sans', sans-serif;*/

}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #f45a40;
	text-decoration: underline;
}
a:hover {
	color: #fdf208;
	text-decoration:none;
}
a:focus, a:active {
	color: #c83867;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{
	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/

.center-block-main{
	max-width: 1170px; margin: 0 auto;
}
header{
	background: rgba(7,7,7,0.3); position: absolute; z-index: 2; width: 100%;
}
.header-top{
	padding:15px 0 25px 0;
}
	.logo{
		float:left; 
	}
	.menu{
		float:right; font-family:'Droid Sans', sans-serif; margin-top: 25px;
	}
		.menu li{
			float:left; text-transform:uppercase; margin-right:30px; font-size:0.875em;
		}
			.menu li a{
				color:#fff; text-decoration:none;
			}
			.menu li a:hover{
				color:#4bcaff;
			}
.my-slider{

}
	.my-slider ul li{
		position:relative; color: #fff; border-bottom: 4px solid #4bcaff; font-size: 0;
	}
	.slide-text-wrapper{
		position: absolute; top: 35%; left: 44%; max-width: 700px;
	}
		.my-slider ul li h2{
			font-weight: 300; font-size: 48px; line-height: 1.1; margin-bottom: 20px;
		}
		.my-slider ul li img{
			width: 100%;
		}
		.my-slider ul li p{
			font-size: 18px; font-weight: 300;
		}
		a.download-btn{
			color: #fff; display: inline-block; padding: 20px 50px; border: 2px solid #fff; border-radius: 5px; font-size: 15px; text-decoration: none; font-weight: 600; margin-top: 30px;
		}
		a:hover.download-btn{
			color: #4bcaff; border: 2px solid #4bcaff;
		}
		.unslider-nav{
			max-width: 1170px; margin: -19px auto 0 auto; position: relative; top: -15px;
		}
.block3-section{
	background: #f9f9f9; border-bottom: 1px solid #e7e7e7; padding: 30px 0 50px 0;
}
	.block3-section>h2{
		font-size: 2.25em; font-weight: 900; text-align: center; color: #414042;
	}
	.block3-section>h3{
		font-size: 1.25em; font-weight: 300; text-align: center; color: #414042; margin-bottom: 50px;
	}
.block3-main{
	margin-bottom: 50px;
}
	.block3-main article{
		width: 30%; float: left; margin-left: 5%; text-align: center;
	}
	.block3-main article:first-child{
		margin-left: 0;
	}
	.block3-main article img{
		display: block; margin: 0 auto 20px auto;
	}
	.block3-main article h2{
		font-size: 0.9375em; margin-bottom: 20px; text-transform: uppercase; font-weight: 600; color: #414042;
	}
		.block3-main article h2 a{
			text-decoration: none; color: #414042;
		}
		.block3-main article h2 a:hover{
			text-decoration: underline;
		}
	.block3-main article p{
		font-size: 0.8125em; color: #838383; line-height: 1.8;
	}
.block4-section{
	margin-bottom: 60px; padding: 30px 0 0 0;
}
	.block4-section>h2{
		font-size: 2.25em; font-weight: 900; text-align: center; color: #414042;
	}
	.block4-section>h3{
		font-size: 1.25em; font-weight: 300; text-align: center; color: #414042; margin-bottom: 50px;
	}
	.block4-main{

	}
		.block4-main article{
			width: 23.162393162393%; float: left; margin-left: 2.45014245014245%;
		}
		.block4-main article:first-child{
			margin-left: 0;
		}
		.block4-main article img{
			display: block; margin:0 auto; border-radius: 7px;
		}
		.block4-main-content{
			padding: 20px 20px 0 20px; text-align: center;
		}
		.block4-main-content p{
			font-size: 0.8125em; margin-bottom: 15px; color: #838383; line-height: 1.7;
		}
.video-section{
	background: url(images/videosection.jpg) center top no-repeat; padding: 150px 0; background-size: cover;
}
	.video-main-text{
		text-align: center; color: #fff;
	}
	.video-main-text img{
		cursor: pointer; margin-bottom: 20px;
	}
	.video-main-text h2{
			font-weight: 300; font-size: 48px; line-height: 1.1; margin-bottom: 20px;
	}
		.video-main-text h2 span{
			font-weight: 600;
		}
	.video-main-text p{
			font-size: 18px; font-weight: 300;
	}
	.video-adapt{
		position: relative;
		padding-bottom: 56.25%; /*360-высота/640-ширина=,5625*/
		height: 0;
		overflow: hidden;
	}
		.video-adapt iframe{
			position: absolute; top:0; left: 0; width: 100%; height: 100%;
		}
.subscribe{
	background: #414042; color: #fff; padding: 30px 0; text-align: center;
}
	.subscribe h2{
		font-size: 3.4375em; font-weight: 600; margin-bottom: 30px;
	}
	a.download-btn-blue{
			color: #414042; display: inline-block; padding: 20px 50px; border-radius: 5px; font-size: 15px; text-decoration: none; background: #4bcaff;
		}
		a:hover.download-btn-blue{
			color: #fff;
		} 
.contact-main{
	position: relative; height: 680px;
}
	.contact-block{
		position: absolute; bottom: 100px; width: 320px; left: 50%; margin-left: -160px; background: rgba(75,202,255,0.8); border-radius: 5px; padding: 30px 30px 10px 30px; box-sizing: border-box;
	}
		.contact-block h2{
			color: #fff; font-size: 2.25em; font-weight: 600; text-align: center; margin-bottom: 20px;
		}
	.ftrmail{
		width: 100%; color: #d3d3d3; font-size: 0.75em; margin-bottom: 15px; padding: 7px 20px; box-sizing: border-box; border: none; border-radius: 5px; text-align: center;
	}
	.ftrtext{
		width: 100%; color: #d3d3d3; font-size: 0.75em; margin-bottom: 15px; padding: 7px 20px 115px 20px; box-sizing: border-box; border: none; border-radius: 5px; text-align: center;
	}
	.ftrsubmit{
		font-size: 0.875em; color: #72b3cc; border: none; background: #414042; padding: 16px 75px; cursor: pointer; border-radius: 5px; display: block; margin: 0 auto;
	}
.ftr{
	background: #414042; padding: 40px 0; font-size: 0.75em; color: #696768;
}
	.ftr span{
		text-transform: uppercase;
	}
	
@media screen and (max-width: 1000px){
	.logo{
		margin-left: 30px;
	}
	.my-slider ul li h2{
			font-size: 36px;
	}
	.slide-text-wrapper{
		max-width: 527px;
	}
	.my-slider ul li p{
			font-size: 16px;
	}
@media screen and (max-width: 900px){
	.block4-main article{
			width: 45%; float: left; margin: 0 2.5% 30px 2.5%;
		}
		.block4-main article:first-child{
			margin-left: 2.5%;
		}
	.slide-text-wrapper{
		max-width: 466px;
	}
}
@media screen and (max-width: 840px) {
	.slide-text-wrapper{
		max-width: 440px;
	}
	.my-slider ul li h2{
			font-size: 30px;
	}
	.my-slider ul li p{
			font-size: 14px;
	}
	a.download-btn{
			padding: 15px 40px; font-size: 12px; margin-top: 20px;
	}
}
@media screen and (max-width: 700px){
header{
	background: rgba(0,0,0,1); width: 100%; position: relative;
}
.header-top{
	padding:5px 0 5px 0;
}
	.menu{
		margin-top: 25px;
	}
	.slide-text-wrapper{
		position: absolute; top: 25%; left: 44%; max-width: 360px;
	}
	.my-slider ul li h2{
			font-size: 25px; margin-bottom: 10px;
	}
	a.download-btn{
			padding: 15px 40px; font-size: 12px; margin-top: 20px;
	}
	.subscribe h2{
		font-size: 2.8125em; margin-bottom: 20px;
	}
}
@media screen and (max-width: 640px){
	.logo{
		float:none; text-align: center; 
	}
	.menu{
		float:none; display: table; margin: 5px auto;
	}
	.slide-text-wrapper{
		position: absolute; top: 15%; left: 44%; max-width: 325px;
	}
	.block3-main article{
		width: 95%; float: none; margin: 0 2.5% 30px 2.5%;
	}
	.block3-main article:first-child{
		margin: 0 2.5%;
	}
}
@media screen and (max-width: 570px){
	.slide-text-wrapper{
		position: absolute; top: 10%; left: 44%; max-width: 290px;
	}
	.my-slider ul li h2{
			font-size: 22px; margin-bottom: 5px;
	}
	.video-section{
		padding: 100px 0;
	}
}
@media screen and (max-width: 520px){
	.menu li{
			font-size:0.75em;
	}
	.slide-text-wrapper{
		max-width: 275px;
	}
	.my-slider ul li p{
			font-size: 14px;
	}
	a.download-btn{
			padding: 10px 30px; font-size: 12px; margin-top: 15px;
	}
	.block4-main article{
			width: 95%; float: none; margin: 0 2.5% 30px 2.5%; overflow: hidden;
	}
		.block4-main article:first-child{
			width: 95%; margin: 0 2.5% 30px 2.5%; float: none;
		}
	.video-section{
		padding: 70px 0;
	}
}
@media screen and (max-width: 500px){
	.slide-text-wrapper{
		position: absolute; top: 10%; left: 44%; max-width: 260px;
	}
	.my-slider ul li h2{
			font-size: 20px; margin-bottom: 5px;
	}
	.my-slider ul li p{
			font-size: 12px;
	}
	a.download-btn{
			padding: 10px 30px; font-size: 12px; margin-top: 15px;
	}
}
@media screen and (max-width: 470px){
	.menu li{
		font-size:0.75em; margin-right:20px; 
	}
	.slide-text-wrapper{
		max-width: 250px;
	}
	.video-section{
		padding: 40px 0;
	}
	.video-main-text h2{
			font-size: 40px; margin-bottom: 10px;
	}
	.video-main-text p{
			font-size: 16px;
	}
}
@media screen and (max-width: 460px){
	.slide-text-wrapper{
		position: absolute; top: 2%; left: 44%; max-width: 240px;
	}
	.my-slider ul li h2{
			margin-bottom: 0px;
	}
	.subscribe h2{
		font-size: 2.5em; margin-bottom: 20px;
	}
}
@media screen and (max-width: 420px){
	.slide-text-wrapper{
		position: absolute; top: 0; left: 44%; max-width: 220px;
	}
	.my-slider ul li h2{
			font-size: 18px; margin-bottom: 5px;
	}
	a.download-btn{
			padding: 8px 25px; font-size: 10px; margin-top: 10px;
	}
}
@media screen and (max-width: 405px){
	.slide-text-wrapper{
		position: absolute; top: 2%; left: 44%; max-width: 210px;
	}
	.my-slider ul li h2{
			font-size: 16px; margin-bottom: 5px; line-height: 1;
	}
	.my-slider ul li p{
			font-size: 12px;
	}
	a.download-btn{
			padding: 7px 24px; font-size: 10px; margin-top: 5px;
	}
	.subscribe{
		padding: 20px 0;
	}
		.subscribe h2{
			font-size: 2em; margin-bottom: 20px;
		}
			a.download-btn-blue{
				padding: 15px 40px;
			}
}
@media screen and (max-width: 365px){
	.slide-text-wrapper{
		position: absolute; top: 2%; left: 44%; max-width: 195px;
	}
	.my-slider ul li h2{
			font-size: 15px; margin-bottom: 5px; line-height: 1;
	}
	.my-slider ul li p{
			font-size: 11px;
	}
	a.download-btn{
			padding: 7px 24px; font-size: 10px; margin-top: 10px;
	}
	.subscribe{
		padding: 15px 0;
	}
		.subscribe h2{
			margin-bottom: 15px;
		}
}
